<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:h2:mem:belarus_dance_league;INIT=CREATE SCHEMA IF NOT EXISTS dance_league</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="com.artsiomtretinnikov.entity.Club"/>
        <mapping class="com.artsiomtretinnikov.entity.Coach"/>
        <mapping class="com.artsiomtretinnikov.entity.ClubCoach"/>
        <mapping class="com.artsiomtretinnikov.entity.Account"/>
        <mapping class="com.artsiomtretinnikov.entity.Role"/>
        <mapping class="com.artsiomtretinnikov.entity.DanceClass"/>
        <mapping class="com.artsiomtretinnikov.entity.DanceGroup"/>
        <mapping class="com.artsiomtretinnikov.entity.DancerDanceGroup"/>
        <mapping class="com.artsiomtretinnikov.entity.Dancer"/>
        <mapping class="com.artsiomtretinnikov.entity.DancingHall"/>
        <mapping class="com.artsiomtretinnikov.entity.Rating"/>
        <mapping class="com.artsiomtretinnikov.entity.Request"/>
    </session-factory>
</hibernate-configuration>