<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/belarus_dance_league</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <!--<property name="hbm2ddl.auto">create</property>-->

        <mapping class="com.artsiomtretinnikov.entity.Club"/>
        <mapping class="com.artsiomtretinnikov.entity.Coach"/>
        <mapping class="com.artsiomtretinnikov.entity.ClubCoach"/>
        <mapping class="com.artsiomtretinnikov.entity.Account"/>
        <mapping class="com.artsiomtretinnikov.entity.Role"/>
        <mapping class="com.artsiomtretinnikov.entity.DanceClass"/>
        <mapping class="com.artsiomtretinnikov.entity.DanceGroup"/>
        <mapping class="com.artsiomtretinnikov.entity.DancerDanceGroup"/>
        <mapping class="com.artsiomtretinnikov.entity.Dancer"/>
        <mapping class="com.artsiomtretinnikov.entity.DancingHall"/>
        <mapping class="com.artsiomtretinnikov.entity.Rating"/>
        <mapping class="com.artsiomtretinnikov.entity.Request"/>
    </session-factory>
</hibernate-configuration>