<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{header::main}"></div>

<div class="container">
        <h3 align="center">Club name:</h3>
        <p align="center" th:text="${clubModel.name}">Test</p>
        <h3 align="center">Club info</h3>
        <p align="center" th:text="${clubModel.info}">Test</p>
        <h3 align="center">Coaches:</h3>
        <div>
            <table class="table">
                <th:block th:each="aCoach : ${clubModel.coaches}">
                    <tr align="center">
                        <td>
                            <a th:href="@{'/coach/' + ${aCoach.id}}"
                               th:text="${aCoach.name} + ' ' + ${aCoach.secondName}"></a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>

        <h3 align="center">Dance groups:</h3>
        <div>
            <table class="table">
                <th:block th:each="aGroup : ${clubModel.danceGroups}">
                    <tr align="center">
                        <td>
                            <a th:href="@{'/danceGroup/' + ${aGroup.id}}" th:text="${aGroup.name}"></a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>

        <th:block th:if="${not #lists.isEmpty(inacitveGroups)}">
            <h3 align="center">Inactive dance groups:</h3>
            <div>
                <table class="table">
                    <th:block th:each="aGroup : ${inacitveGroups}">
                        <tr align="center">
                            <td>
                                <a th:text="${aGroup.name}"></a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </th:block>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>