<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{header::main}"></div>

<div class="container">
        <div class="row">
            <h3 align="center">Clubs:</h3>
            <table class="table">
                <th:block th:each="singleClub : ${clubsList}">
                    <tr align="center">
                        <td>
                            <a th:href="@{'/club/' + ${singleClub.id}}" th:text="${singleClub.name}"> </a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>

        <div class="row">
            <th:block th:if="${not #lists.isEmpty(inactiveClubsList)}">
                <h3 align="center">Inactive clubs:</h3>
                <table class="table">
                    <th:block th:each="singleClub : ${inactiveClubsList}">
                        <tr align="center">
                            <td>
                                <a th:text="${singleClub.name}"> </a>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </th:block>
        </div>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
</body>
</html>