<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dance group</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{header::main}"></div>

<div class="container">
        <h3 align="center">Group name:</h3>
        <p align="center" th:text="${danceGroup.name}"></p>
        <h3 align="center">Group belong to club:</h3>
        <p align="center">
            <a th:href="@{'/club/' + ${danceGroup.club.id}}" th:text="${danceGroup.club.name}"></a>
        </p>
        <h3 align="center">Schedule:</h3>
        <table class="table">
            <tr>
                <th>Group name</th>
                <th>Dance hall</th>
                <th>Day of week</th>
                <th>Time</th>
                <th>Style</th>
            </tr>
            <th:block th:each="danceClass : ${danceGroup.danceClasses}">
                <tr>
                    <td>
                        <a th:href="@{'/danceHall/' + ${danceClass.danceHall.id}}"
                           th:text="${danceClass.danceHall.name}"></a>
                    </td>
                    <td>
                        <a th:href="@{'/coach/' + ${danceClass.coach.id}}"
                           th:text="${danceClass.coach.name} + ' ' +${danceClass.coach.secondName}"></a>
                    </td>
                    <td th:text="${danceClass.dayOfWeek}"></td>
                    <td th:text="${danceClass.time}"></td>
                    <td th:text="${danceClass.style}"></td>
                </tr>
            </th:block>
        </table>

        <th:block th:if="${not #lists.isEmpty(inactiveDanceClasses)}">
            <h3 align="center">Inactive dance classes:</h3>
            <table class="table">
                <tr>
                    <th>Group name</th>
                    <th>Dance hall</th>
                    <th>Day of week</th>
                    <th>Time</th>
                    <th>Style</th>
                </tr>
                <th:block th:each="danceClass : ${inactiveDanceClasses}">
                    <tr>
                        <td>
                            <a th:href="@{'/danceHall/' + ${danceClass.danceHall.id}}"
                               th:text="${danceClass.danceHall.name}"></a>
                        </td>
                        <td>
                            <a th:href="@{'/coach/' + ${danceClass.coach.id}}"
                               th:text="${danceClass.coach.name} + ' ' +${danceClass.coach.secondName}"></a>
                        </td>
                        <td th:text="${danceClass.dayOfWeek}"></td>
                        <td th:text="${danceClass.time}"></td>
                        <td th:text="${danceClass.style}"></td>
                    </tr>
                </th:block>
            </table>
        </th:block>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>