<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{header::main}"></div>
<h2 align="center" th:text="#{rusure}">Are you sure?</h2>
<div align="center">
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-danger" th:value="#{logout}">
    </form>
</div>
</body>
</html>